<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WordFilePathDefault" value="" />
		<add key="ScriptsDirectoryPathDefault" value="" />
		<add key="TableNamesWordDefault" value="" />
		<add key="StartRowTableWordDefault" value="" />
		<add key="SubDirectoryOrderDefault" value="" />
		<add key="FileFiltersDefault" value="" />
	</appSettings>
</configuration>